<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Expense Tracker Pro</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    
    <div class="nav">
        <ul class="flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" >
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Admin
                </NavLink>
                <ul class="flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="accountTypeOverview">
                            <span class="me-3 bi-person-lines-fill" aria-hidden="true"></span> Account Types
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="manageCategory">
                            <span class="me-3 bi-bookmarks" aria-hidden="true"></span> Categories
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="currencyOverview">
                            <span class="me-3 bi-cash-stack" aria-hidden="true"></span> Currencies
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="incomeCategoryOverview">
                            <span class="me-3 bi-bookmarks" aria-hidden="true"></span> Income Categories
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="institutionOverview">
                            <span class="me-3 bi-bookmarks" aria-hidden="true"></span> Institution
                        </NavLink>
                    </li>
                </ul>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ManageAccount">
                    <span class="me-3 bi-person-lines-fill" aria-hidden="true"></span> Account
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ManageExpense">
                    <span class="me-3 bi-person-lines-fill" aria-hidden="true"></span> Expense
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ManageIncome">
                    <span class="me-3 bi-person-lines-fill" aria-hidden="true"></span> Income
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ManageTransfer">
                    <span class="me-3 bi-person-lines-fill" aria-hidden="true"></span> Transfer
                </NavLink>
            </li>
        </ul>
    </div>
</div>

