@page "/categoryoverview"
@using ExpenseTrackerPro.Application.Features.Categories
@using MediatR
@inject IMediator mediator
<PageTitle>Category</PageTitle>

<h1>Category Overview</h1>

@if (applications?.Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>              
                <th>Category</th>
                <th>Parent Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var application in applications.Categories.Data)
            {
                <tr>
                    <td>@application.ImageUrl</td>
                    <td>@application.Name</td>
                    <td>@application.ParentName</td>                 
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private GetCategoryView? applications;
    private string searchString = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        applications = await mediator.Send(new GetCategoryQuery(searchString));
    }
}
